.container {
    width: 450px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
}

.card {
    /* here */
    transform-style: preserve-3d;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    padding: 0 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid green;
}

.beerImg {
    width: 170px;
    height: 200px;
    display: flex; 
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
}

.beerImg img {
    // width: 170px;
    height: 90px;
    z-index: 2;
    transition: all 0.75s ease-out;
    // border: 2px solid green;
    background-color: transparent;
}

.circle {
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, rgb(11, 216, 172), rgb(10, 77, 77));
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    // border: 2px solid orange;

}

.info {
    width: 250px;
    height: 300px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info h2 {
    font-size: 30px;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 15px;
    padding: 10px 0;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
    font-style: italic;
    /* border: 1px solid red; */

}

.moreInfo {
    margin-top: 10px;
    transition: all 0.75s ease-out;
}

.moreInfo button {
    width: 100%;
    margin: 15px 0;
    padding: 10px 0;
    background: linear-gradient(to left, rgb(11, 216, 172), rgb(10, 77, 77));
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;

    &:focus {
        outline: none;
    }
}

.can {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 130px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .canTop {
    border-bottom: 10px solid grey;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 85px;
    }

    .canBottom {
    border-top: 10px solid grey;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 85px;
    }
}

//     h2 {
//         font-size: 30px;
//         // width: 95%;
//         text-align: center;
//         background-color: none;
//     }

//     img {
//         height: 50px;
//     }

@media only screen and (max-width: 500px) {

    .container {
        width: 400px;
    }
}

@media only screen and (max-width: 420px) {

    .container {
        width: 300px;
        height: 450px;
    }

    .card {
        width: 250px;
        height: 400px;
    }
    
    .info {
        width: 200px;
        height: 250px;
    }
    
    .info h2 {
        font-size: 20px;
    }
    
    .info h3 {
        font-size: 10px;
        padding: 5px 0;
    }

    p {
        font-size: 10px;
    }
    
    .moreInfo {
        margin-top: 5px;
    }
    
    .moreInfo button {
        font-size: 10px;
    }
}