* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.router {
  width: 100%;
}

.modal {
  position: fixed;
  width: 70%;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 300px;
  transition: all 0.3s ease-out;
}

