.beerCard {
    height: 500px;
    width: 300px; 
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 600px;
    position: relative;
    z-index: 0;
    margin: 50px;

    &.faceDown {
        transform: rotateY(180deg);
    }

    .front {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
    }

    .back {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }
}