* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* here */
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container {
  width: 450px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  /* here */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 500px;
  width: 300px;
  border-radius: 30px;
  padding: 0 5rem;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.beerImg {
  width: 170px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.beerImg img {
  height: 90px;
  z-index: 2;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.circle {
  width: 150px;
  height: 150px;
  background: -webkit-gradient(linear, right top, left top, from(#06918a), to(#0f2c09));
  background: linear-gradient(to left, #06918a, #0f2c09);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info {
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info h2 {
  font-size: 30px;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 15px;
  padding: 10px 0;
  color: #585858;
  font-weight: lighter;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  font-style: italic;
  /* border: 1px solid red; */
}

.moreInfo {
  margin-top: 10px;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.moreInfo button {
  width: 100%;
  margin: 15px 0;
  padding: 10px 0;
  background: -webkit-gradient(linear, right top, left top, from(#06918a), to(#0f2c09));
  background: linear-gradient(to left, #06918a, #0f2c09);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}

.can {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 130px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.can .canTop {
  border-bottom: 10px solid grey;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 85px;
}

.can .canBottom {
  border-top: 10px solid grey;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 85px;
}
/*# sourceMappingURL=Card.module.css.map */