.favDashboard {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: space-around;
}

.message {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width: 1630px) {

    .favDashboard {
        width: 100%;
    }
}
@media only screen and (max-width: 1400px) {

    .favDashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 930px) {

    .favDashboard {
        grid-template-columns: repeat(1, 1fr);
    }
}