.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-out;
}

.showModal {
    opacity: 1; 
    height: 500px;
    width: 1000px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 1px 1px 1px black;
    padding: 15px;
}

.hideModal {
    opacity: 0;
    height: 0;
    width: 0;
}