.header {
    height: 120px;
    background-color: rgb(45, 150, 123);
    background: linear-gradient(to left, rgb(6, 145, 138), rgb(15, 44, 9));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.signedIn {
    display: inline-block;
}

.signedOut {
    display: none;
}

.login {
    cursor: pointer;
}

li {
    background-color: transparent;
    list-style: none;

    h1 {
        background-color: transparent;
    }

    div {
        background-color: transparent;
    }

}

.links {
    background-color: transparent;
    text-decoration: none;
    color: white;
}