@import "./../../styles/variables.scss";

.header {
    height: 120px;
    background: $base-color;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.signedIn {
    display: inline-block;
}

.signedOut {
    display: none;
}

.login {
    cursor: pointer;
}

li {
    background-color: transparent;
    list-style: none;
    text-decoration: none;

    h1 {
        background-color: transparent;
        color: white;
    }

    div {
        background-color: transparent;
    }
}

.title {
    text-decoration: none;
}
