.dashboard {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    // align-items: space;
    align-content: space-around;
    // border: 4px dotted orange;
}

.showModal {
    opacity: 1;
}
.hideModal {
opacity: 0;
}

.modalBackground {
opacity: 0;
pointer-events: none;
}

@media only screen and (max-width: 1630px) {

    .dashboard {
        // grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}
@media only screen and (max-width: 1400px) {

    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 930px) {

    .dashboard {
        grid-template-columns: repeat(1, 1fr);
    }
}