@import "./../../styles/variables.scss";

.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    input {
        width: 300px;
        height: 35px;
        border-radius: 5px;
        border: 3px solid black;
        padding: 5px;
        font-size: 20px;
    }
}

.supriseBtn {
    height: 50px;
    width: 120px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
    background: $base-color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    h3 {
        color: white;
        text-decoration: none;
        background-color: transparent;
    }
}